<div id="article" class="hidden popup">
    <h1>ARTICLE</h1>
    <form id="artForm">
        <input type="hidden" id="articleId" />
        <div>
            Bezeichnung <input type="text" id="artName" />
        </div>
        <div>
            Preis <input type="number" id="artPrice" />
        </div>
        <div>
            <div>
                <input type="submit" id="artSave" />
                <button id="artCancel">Abbrechen</button>
            </div>
        </div>
    </form>
</div>