<div id="customer" class="hidden popup">
    <form id="custForm">
        <h1>CUSTOMER</h1>
        <div>
            Bezeichnung: <input type="text" id="custName">
        </div>
        <div>
            Vorname: <input type="text" id="custFirstname">
        </div>
        <div>
            Nachname: <input type="text" id="custSurname">
        </div>
        <div>
            Straße: <input type="text" id="custStreet">
        </div>
        <div>
            Ort: <input type="text" id="custPlace">
        </div>
        <div>
            Land: <input type="text" id="custCountry">
        </div>
        <div>
            <input type="submit" id="custSave" />
            <button id="custCancel">Abbrechen</button>
        </div>
    </form>
    <progress value="0" max="100" id="progress"></progress>
</div>