<!DOCTYPE html>

<html>

<head>
    <meta charset='utf-8'>

    <title></title>

    <script src="/js/jquery.js"></script>
    <script src="/js/orders.js"></script>

    <script>
        $(document).ready(function () {
            var order = new Order();
            order.getList();
        });
    </script>

    <style type="text/css">

        .hidden {
            display: none;
        }

    </style>


</head>

<body>

    <h1>ACME - Auftragsverwaltung</h1>

    <section id="content"></section>

    <aside>
        <input type="button" value="neuer Kunde" id="newCustomer" />
        <input type="button" value="neuer Auftrag" id="newOrder" />
        <input type="button" value="neuer Artikel" id="newArticle" />
    </aside>

<div id="customer" class="hidden">
    <form>

    </form>
</div>
<div id="order" class="hidden">
   <form>

   </form>
</div>
<div id="article" class="hidden" style="position: absolute; top: 100px; left: 100px; height: 400px; width: 400px; background: #add8e6;">
    <h1>ARTICLE</h1>
    <form>
        <div>
            Artikel:
            <select>
                <option>Art1</option>
                <option>Art2</option>
            </select>
        </div>
        <div>
            Menge:
            <input type="range" min="0" max="100" value="0" />
        </div>
        <div>
            Preis:
            <span id="articlePrice"></span>
        </div>
        <div>
            Gesamtpreis:
            <output id="articleTotalPrice"></output>
        </div>
    </form>
</div>





</body>

</html>