<script>
// @todo update & delete
// @todo crud orders & articles
// @todo integrate forms
// @todo contenteditable
</script>

<!DOCTYPE html>

<html>

<head>
    <meta charset='utf-8'>

    <title></title>

    <script src="/js/jquery.js"></script>
    <script src="/js/orders.js"></script>
    <script src="/js/customers.js"></script>
    <script src="/js/articles.js"></script>
    <script src="/js/init.js"></script>

    <script>
        $(document).ready(init);
    </script>

    <style type="text/css">

        .hidden {
            display: none;
        }

        .popup {
            position: absolute;
            top: 100px;
            left: 100px;
            height: 400px;
            width: 400px;
            background: #add8e6;
        }

    </style>


</head>

<body>

    <button id="fullScreen">Full Screen</button>


    <h1>ACME - Auftragsverwaltung</h1>

    <section id="content"></section>

    <aside>
        <input type="button" value="Kunden verwalten" id="manageCustomer" />
        <input type="button" value="neuer Kunde" id="newCustomer" />
        <input type="button" value="Bestellungen verwalten" id="manageOrder" />
        <input type="button" value="neuer Auftrag" id="newOrder" />
        <input type="button" value="Artikel verwalten" id="manageArticle" />
        <input type="button" value="neuer Artikel" id="newArticle" />
    </aside>

    ${customer}
    ${order}
    ${article}


</body>

</html>