<div id="order" class="hidden popup">
    <h1>ORDER</h1>
    <form id="orderForm">
        <input type="hidden" id="orderId" />
        <div>
            Artikel:
            <select id="orderArt"></select>
        </div>
        <div>
            Kunde:
            <select id="orderCust"></select>
        </div>
        <div>
            Menge:
            <input type="range" min="0" max="100" value="0" id="orderAmount" />
        </div>
        <div>
            Preis:
            <span id="articlePrice"></span>
        </div>
        <div>
            Gesamtpreis:
            <output id="articleTotalPrice"></output>
        </div>
        <div>
            <div>
                <input type="submit" id="orderSave" />
                <button id="orderCancel">Abbrechen</button>
            </div>
        </div>
    </form>
</div>